{% extends "layouts/main.html.twig" %}

{% block container %}
<div class="container__block">
    <h1 class="container__title">{{ title }}</h1>
    <div class="container__content">
        {% block container_content %}{% endblock %}
    </div>
</div>
{% endblock %}