<footer class="footer__block">
    <span class="footer__copyright">
        © {{ "now"|date("Y") }} SebBlog - Created by <a class="link" href="https://sebastien-d.me">Sébastien D</a>
    </span>
    <div>
        <a class="link" href="#">Login</a>
        <span>|</span>
        <a class="link" href="#">Legal notice</a>
    </div>
</footer>