<header class="header__block">	
    <img alt="Banner" class="header__banner media__responsive" loading="lazy" src="{{publicFolder}}/images/layouts/banner.webp">	
    <div class="header__mobile">	
        <h1 class="header__logo">SebBlog</h1>	
        <i class="icon icon--open_sidebar ri-menu-line show"></i>	
    </div>	
</header>