{% extends "base.html.twig" %}


{% block main %}
<main class="main__block">
    {% include "layouts/header.html.twig" %}
    {% block container %}{% endblock %}
    {% include "layouts/footer.html.twig" %}
</main>
{% endblock %}