<aside class="sidebar__block">
    <section>
        <h2 class="sidebar__logo">SebBlog</h2>
        <span class="sidebar__catch_phrase">Welcome to my blog !</span>
        <i class="icon icon--close_sidebar ri-menu-5-line"></i>
    </section>
    <section aria-label="Search">
        <form action="/search" class="sidebar__form" method="get">
            <input class="input" placeholder="Search..." type="search">
            <button class="btn btn--form" type="submit">
                <i class="icon ri-search-line"></i>
            </button>
        </form>
    </section>
    <section>
        <h2 class="sidebar__category">Pages</h2>
        <nav>
            <ul class="list sidebar__list">
                <li class="item__list">
                    <a class="btn btn--link{% if route == '/' %} active{% endif %}" href="/">Home</a>
                </li>
                <li class="item__list">
                    <a class="btn btn--link{% if route == '/articles' %} active{% endif %}" href="/articles">Articles</a>
                </li>
                {% if isLogged == false %}
                    <li class="item__list">
                        <a class="btn btn--link{% if route == '/login' %} active{% endif %}" href="/login">Login</a>
                    </li>
                {% else %}
                    {% if role == "Administrator" %}
                        <a class="btn btn--link{% if route == '/dashboard' %} active{% endif %}" href="/dashboard">Dashboard</a>
                    {% endif %}
                    <li class="item__list">
                        <a class="btn btn--link{% if route == '/profil' %} active{% endif %}" href="/profil">Profil</a>
                    </li>
                    <li class="item__list">
                        <a class="btn btn--link" href="/logout">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </section>
    <section class="sidebar__articles">
        <h2 class="sidebar__category">Random articles</h2>
        <ul class="list random_articles__list">
            {% for article in randArticles %}
                <li class="item__list">
                    <a class="link" href="/article/{{article.id}}">{{article.title}}</a>
                    <time class="random_article__date" datetime="{{article.updateDate}}">{{article.updateDate | date("F jS, Y") }}</time>
                </li>
            {% else %}
                <span class="random_articles__none">There are no articles found.</span>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h2 class="sidebar__category">FOLLOW ME</h2>
        <div class="sidebar__socials">
            <a class="link link--reset" href="https://www.frontendmentor.io/profile/sebastien-d-me">
                <i class="icon ri-external-link-line social__icon"></i>
            </a>
            <a class="link link--reset" href="https://github.com/sebastien-d-me">
                <i class="icon ri-github-fill social__icon"></i>
            </a>
            <a class="link link--reset" href="https://www.npmjs.com/~sebastiend1">
                <i class="icon ri-npmjs-line social__icon"></i>
            </a>
        </div>
    </section>
</aside>