{% extends "layouts/container.html.twig" %}

{% set title = "Password reset" %}


{% block container_content %}
{% if message is defined %}
    <p class="form__message">{{ message | raw }}</p>
{% endif %}
<form action="#" method="post">
    <div class="form__row">
        <input class="input__element" id="password_reset__username_email" name="password_reset__username_email" placeholder="johndoe1 / john.doe@mail.com" required type="text">
        <label for="password_reset__username_email">Username or mail</label>
    </div>
    <div class="form__row">
        <button class="btn" type="submit">
            Send
            <i class="ri-mail-send-line"></i>
        </button>
    </div>
</form>
{% endblock %}