{% extends "layouts/container.html.twig" %}

{% set title = "Dashboard" %}


{% block container_content %}
<div class="row--inline">
    <a class="btn" href="/admin/dashboard/articles">Articles dashboard</a>
    <a class="btn" href="/admin/dashboard/comments">Comments dashboard</a>
    <a class="btn" href="/admin/dashboard/members">Members dashboard</a>
</div>
{% endblock %}