.input {
    background-color: $white;
    border: none;
    border-radius: 8px;
    height: 40px;
    min-width: 200px;
    padding: 10px;
    width: fit-content;

    &.checkbox {
        min-width: 30px;
    }

    &.textarea {
        min-height: 100px;
        resize: none;
    }
}

// Form
.form__row {
    display: flex;
    flex-direction: column;
    gap: 5px 0;

    &--stick {
        align-items: center;
        flex-direction: row;
        gap: 0 20px;
    }
}


.input--form {
    margin-bottom: 15px;
    min-width: 300px;
}