{% extends "layouts/container.html.twig" %}

{% set title = "Login" %}


{% block container_content %}
{% if message is defined %}
    <p class="form__message">{{ message | raw }}</p>
{% endif %}
<form action="#" method="post">
    <div class="form__row">
        <input class="input__element" id="login__username_email" name="login__username_email" placeholder="johndoe1 / john.doe@mail.com" required type="text">
        <label for="login__username_email">Username or mail</label>
    </div>
    <div class="form__row">
        <input class="input__element" id="login__password" name="login__password" placeholder="*********" required type="password">
        <label for="login__password">Password</label>
    </div>
    <div class="form__row">
        <span>
            If you wish to reset your password, click <a class="link" href="/member/password/password-reset">here</a>.
        </span>
    </div>
    <input name="csrf" type="hidden" value="{{ csrf }}">
    <div class="form__row form__row--inline">
        <button class="btn" type="submit">
            Login
            <i class="ri-login-box-line"></i>
        </button>
        <a class="btn btn--secondary" href="/member/register">
            Register
            <i class="ri-add-line"></i>
        </a>
    </div>
</form>
{% endblock %}