{% extends "layouts/container.html.twig" %}

{% set title = "Password reset" %}


{% block container_content %}
{% if message is defined %}
    <p class="form__message">{{ message | raw }}</p>
{% endif %}
<form action="#" method="post">
    <div class="form__row">
        <label class="form__label form__label--required" for="password_reset__username_mail">Username or mail</label>
        <input class="input" id="password_reset__username_mail" name="password_reset__username_mail" placeholder="johndoe1 / john.doe@mail.com" required type="text">
    </div>
    <div class="form__row">
        <button class="btn" type="submit">
            Send
            <i class="ri-mail-send-line"></i>
        </button>
    </div>
</form>
{% endblock %}