{% extends "layouts/container.html.twig" %}

{% set title = "Profil" %}


{% block container_content %}
{% if message is defined %}
    <p class="form__message">{{ message | raw }}</p>
{% endif %}
<div class="profil__row">
    <span>
        <b>Username</b> : {{ informations.username }}
    </span>
</div>
<div class="profil__row">
    <span>
        <b>Registration date</b> : {{ informations.registrationDate | date("F jS, Y") }}
    </span>
</div>
{% if logged == true %}
    <div class="form__row form__row--inline">
        <a class="btn btn--link" href="/member/profil/edit" type="button">
            Edit my profil
            <i class="ri-pencil-line"></i>
        </a>
        {% if role == "Member" %}
            <a class="btn btn--link btn--secondary" href="/member/profil/delete" type="button">
                Delete
                <i class="ri-close-line"></i>
            </a>
        {% endif %}
    </div>
{% endif %}
{% endblock %}