{% extends "layouts/container.html.twig" %}

{% set title = "Registration" %}

{% block container_content %}

<p>{{ message }}</p>

<form action="#" method="post">
    <div class="form__row">
        <label for="field__username">Username</label>
        <input class="input input--form" id="field__username" name="field__username" placeholder="johndoe1" type="text">
    </div>
    <div class="form__row">
        <label for="field__mail">Mail</label>
        <input class="input input--form" id="field__mail" name="field__mail" placeholder="john.doe@me.com" type="email">
    </div>
    <div class="form__row">
        <label for="field__password">Password</label>
        <input class="input input--form" id="field__password" name="field__password" placeholder="*********" type="password">
    </div>
    <div class="form__row form__row--stick">
        <input class="checkbox input input--form" id="field__accept" name="field__accept" type="checkbox">
        <label for="field__accept">By registering, I have read the legal notice and the privacy policy.</label>
    </div>
    <div class="form__row hide">
        <input class="checkbox input input--form" id="field__important" name="field__important" type="checkbox">
        <label for="field__important">Check this checkbox.</label>
    </div>
    <button class="btn" type="submit">
        Register
        <i class="ri-check-line"></i>
    </button>
</form>
{% endblock %}