{% extends "layouts/container.html.twig" %}

{% set title = "Error" %}

{% block container_content %}
    <span>Error code : {{ code }}</span>
    <p>{{ message }}</p>

    <a class="btn btn--link btn__reset--size" href="/">
        Back to the home page
        <i class="ri-home-8-line"></i>
    </a>
{% endblock %}