{% set publicFolder = "/public" %}
{% set assetsFolder = "/public/assets" %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>SebBlog - {{ title }}</title>
  <link href="{{assetsFolder}}/images/favicon.png" rel="icon" type="image/png">
  <link href="{{assetsFolder}}/styles/style.css" rel="stylesheet">
</head>

<body>
  {% include "layouts/sidebar.html.twig" %}
  {% block main %}{% endblock %}
  <a class="link link--inherit" href="#">
    <i class="icon__scrollup ri-arrow-up-circle-line"></i>
  </a>
  
  <!-- Scripts -->
  <script src="{{assetsFolder}}/scripts/script.js"></script>
</body>
</html>