/* Abstracts */
/* Vendors */
@import "../../node_modules/modern-normalize/modern-normalize.css";
@import "../../node_modules/remixicon/fonts/remixicon.css";
/* Base */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/poppins/poppins-v20-latin-100.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/poppins/poppins-v20-latin-100italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/poppins/poppins-v20-latin-200.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/poppins/poppins-v20-latin-200italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins/poppins-v20-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/poppins/poppins-v20-latin-300italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins/poppins-v20-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/poppins/poppins-v20-latin-italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins/poppins-v20-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/poppins/poppins-v20-latin-500italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins/poppins-v20-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/poppins/poppins-v20-latin-600italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins/poppins-v20-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/poppins/poppins-v20-latin-700italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins/poppins-v20-latin-800.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/poppins/poppins-v20-latin-800italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins/poppins-v20-latin-900.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/poppins/poppins-v20-latin-900italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dancing_script/dancing-script-v24-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/dancing_script/dancing-script-v24-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/dancing_script/dancing-script-v24-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/dancing_script/dancing-script-v24-latin-700.woff2") format("woff2");
}
html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: #1D1E20;
  color: #F1F1F1;
  display: flex;
}

@media screen and (max-width: 1200px) {
  body {
    flex-direction: column;
  }
}
* {
  font-family: "Poppins", sans-serif;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.img__responsive {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}

.page__title {
  border-bottom: 1px solid #F1F1F1;
  font-size: 32px;
  margin: 0 0 40px 0;
  padding-bottom: 5px;
  width: -moz-fit-content;
  width: fit-content;
}

.scroll_up__icon {
  font-size: 35px;
  left: calc(100% - 50px);
  top: calc(100% - 50px);
  transition: 0.5s;
  position: fixed;
}
.scroll_up__icon:hover {
  color: #D44240;
  cursor: pointer;
}

/* Components */
.btn {
  align-items: center;
  background-color: #F1F1F1;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #181818;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  width: -moz-fit-content;
  width: fit-content;
}
.btn:hover {
  background-color: #D44240;
  border-color: #F1F1F1;
  color: #F1F1F1;
  cursor: pointer;
}

.btn--form {
  background-color: transparent;
  border: none;
  border-radius: unset;
  color: #F1F1F1;
  font-size: 20px;
  height: 30px;
  padding: unset;
}
.btn--form:hover {
  background-color: transparent;
  color: #D44240;
  cursor: pointer;
}

.btn--link {
  border-radius: 5px;
  color: #181818;
  text-transform: uppercase;
  text-decoration: none;
}
.btn--link:hover {
  background-color: transparent;
  border-color: #F1F1F1;
  color: #F1F1F1;
}
.btn--link.active {
  background-color: #D44240;
  color: #F1F1F1;
}

.btn--secondary {
  background-color: #181818;
  border: 1px solid #F1F1F1;
  color: #F1F1F1;
}
.btn--secondary:hover {
  border-color: #D44240;
  color: #F1F1F1;
}

.input {
  background-color: #F1F1F1;
  border: none;
  border-radius: 8px;
  height: 40px;
  min-width: 200px;
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
.input.checkbox {
  min-width: 30px;
}
.input.textarea {
  min-height: 100px;
  resize: none;
}

.form__row {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}
.form__row--stick {
  align-items: center;
  flex-direction: row;
  gap: 0 20px;
}

.input--form {
  margin-bottom: 15px;
  min-width: 300px;
}

.link {
  color: #4091D4;
  display: inline-block;
  text-decoration: none;
  transition: 0.5s;
  width: -moz-fit-content;
  width: fit-content;
}
.link:hover {
  color: #D44240;
}

.link--reset {
  color: inherit;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Layout */
.header__block {
  align-items: center;
  background: #181818;
  color: #F1F1F1;
  display: flex;
  filter: drop-shadow(0px 1px 2px #000000);
  justify-content: space-evenly;
  min-height: 100px;
  width: 100%;
}

.header__banner {
  filter: drop-shadow(0 0 5px #000000);
  -o-object-fit: cover;
     object-fit: cover;
}

.header__mobile {
  display: none;
}

.header__logo {
  display: block;
  font-family: "Dancing Script", sans-serif;
  font-size: 40px;
  margin: 0 auto 0 auto;
  text-align: center;
}

.icon--close_sidebar {
  display: none;
}

@media screen and (max-width: 1200px) {
  .header__banner {
    display: none;
  }
  .header__mobile {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
  }
  .icon--open_sidebar {
    font-size: 24px;
  }
  .icon--close_sidebar {
    border-bottom: 1px solid #F1F1F1;
    display: none;
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
  }
}
.sidebar__block {
  background-color: #181818;
  border-right: 1px solid #000000;
  min-height: 100vh;
  padding: 20px 25px;
  width: 300px;
}

.sidebar__logo {
  display: block;
  font-family: "Dancing Script", sans-serif;
  font-size: 48px;
  margin: 0 auto 20px auto;
  text-align: center;
}

.sidebar__description {
  display: block;
  margin-bottom: 30px;
  text-align: center;
}

.sidebar__form {
  align-items: center;
  display: flex;
  gap: 0 20px;
  justify-content: space-between;
  width: 100%;
}

.sidebar__category {
  align-items: center;
  background: #2C2C2C;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  height: 35px;
  justify-content: center;
  margin: 30px 0 20px 0;
  position: relative;
  text-transform: uppercase;
}

.sidebar__category::before {
  bottom: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #2C2C2C transparent transparent transparent;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(100%);
  width: 0;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.sidebar__list > .item__list > .btn--link {
  width: 100%;
}

.recent_articles__list {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.recent_articles__list > .item__list {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}

.recent_article__date {
  display: block;
}

.sidebar__socials {
  display: flex;
  justify-content: space-evenly;
}

.social__icon {
  align-items: center;
  border: 1px solid #F1F1F1;
  border-radius: 50%;
  display: flex;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  padding: 5px;
  transition: 0.5s;
  width: 40px;
}
.social__icon:hover {
  background-color: #D44240;
  border-color: #D44240;
  color: #F1F1F1;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .sidebar__block {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .sidebar__description {
    margin-bottom: 15px;
  }
  .sidebar__form {
    margin-top: 10px;
  }
  .sidebar__articles {
    display: none;
  }
}
.main__block {
  display: flex;
  flex-direction: column;
  width: calc(100% - 300px);
}

@media screen and (max-width: 1200px) {
  .main__block {
    width: 100%;
  }
}
.container__block {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  min-height: calc(100vh - 325px);
  padding: 20px 75px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .container__block {
    min-height: calc(100vh - 140px);
    padding: 20px;
  }
}
.article {
  border-bottom: 2px solid #F1F1F1;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.article__title {
  margin: 10px 0;
}

.article__meta {
  margin-bottom: 30px;
}

.article__categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
}

.categories__item {
  text-transform: uppercase;
}

.article__content {
  text-align: left;
}

@media screen and (max-width: 1200px) {
  .article__categories {
    gap: 0 10px;
    justify-content: center;
  }
}
.footer__block {
  align-items: center;
  background: #181818;
  color: #F1F1F1;
  display: flex;
  filter: drop-shadow(0px -1px 2px #000000);
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 60px;
  width: 100%;
}

.copyright__text {
  display: block;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .footer__block {
    gap: 20px 0;
    padding: 10px;
  }
}
/* Pages */
.home__content {
  align-items: center;
  display: flex;
  gap: 20px 50px;
}

.home__content--informations {
  align-items: center;
  border-right: 1px solid #F1F1F1;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

.home__category {
  font-size: 36px;
  margin: auto auto 15px auto;
  text-align: center;
}

.home__logo {
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 150px;
  width: -moz-fit-content;
  width: fit-content;
}

.home__sentence {
  text-align: center;
}

.home__about_me {
  margin: 0 0 10px 0;
  padding: 20px 0;
  text-align: center;
}

.home__contact {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .home__content {
    flex-wrap: wrap;
  }
  .home__content--informations {
    border-bottom: 1px solid #F1F1F1;
    border-right: unset;
    padding-bottom: 30px;
    padding-right: unset;
  }
  .home__content--contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.legal_notice__category {
  display: block;
  font-size: 24px;
  font-weight: bold;
}

.legal_notice__text {
  margin: 20px 0 30px 0;
}

.btn--delete_account {
  margin-top: 15px;
}/*# sourceMappingURL=style.css.map */