{% extends "layouts/container.html.twig" %}

{% set title = "Error " ~ code %}


{% block container_content %}
    <a class="btn" href="/">
        Back to the home page
        <i class="ri-home-8-line"></i>
    </a>
{% endblock %}