{% extends "layouts/container.html.twig" %}

{% set title = "Legal notice" %}


{% block container_content %}
    <span>This site is edited by Sébastien DELAHAYE.</span>
    <!--
        Dans le cadre d'un vrai blog, j'aurai contacté un spécialiste pour rédiger des vrai mentions légales ainsi qu'une politique de confidentialité
    -->
{% endblock %}