// Fonts
* {
    font-family: "Poppins", sans-serif;
}

// Display
.show {
    display: block !important;
}

.hide {
    display: none !important;
}

// Image
.img__responsive {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}

// Page title
.page__title {
    border-bottom: 1px solid $white;
    font-size: 32px;
    margin: 0 0 40px 0;
    padding-bottom: 5px;
    width: fit-content;
}

// Scroll up
.scroll_up__icon {
    font-size: 35px;
    left: calc(100% - 50px);
    top: calc(100% - 50px);
    transition: 0.5s;
    position: fixed;

    &:hover {
        color: $red;
        cursor: pointer;
    }
}